* {
    margin: 0;
    padding: 0;
}

html, body {
    overflow-x: hidden;
    width: 100%;
}

nav {
    width: 100%;
    background-color: #F7F2EB;
    padding: 16px 0px 16px 25px;
    font-size: 1.8em;
    font-family: "GFS Didot";
}

.masthead {
    width: 100%;
    height: 700px;
    overflow: hidden;
    position: relative;
}

.masthead-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    filter: brightness(70%);
}

.masthead-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: white;
    text-align: center;
    font-family: 'GFS Didot', serif;
    padding: 20px;
}

.quote {
    font-size: 25px;
    width: 40%;
    margin: 50px auto;
    text-align: center;
    color: #B6A593;
}

.form-block {
    width: 80%;
    background-color: #274374;
    border-radius: 3px;
    color: white;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    margin: 0 auto;
    font-size: 25px;
    font-weight: lighter;
    padding-bottom: 15px;
    border-top-left-radius: 60px;
    border-bottom-right-radius: 60px;
}

input {
    padding: 10px;
    border-radius: 10px;
}

button {
    padding: 10px;
    border-radius: 10px;
    background-color: #8295a2;
}

button:hover {
    cursor: pointer;
    background-color: #bfc4c7;
}

.form-heading {
    font-family: 'GFS Didot', serif;
    font-weight: lighter;
    padding: 20px 0px;
}

.latest-images {
    height: auto;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.latest-images, img {
    display: inline-block;
}

.imgPatUp {
    padding-bottom: 30px;
}

.gallery-heading {
    font-size: 40px;
    color: #274374;
    font-family: 'GFS Didot', serif;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;
}

.promotions-heading {
    font-size: 40px;
    color: #274374;
    text-align: center;
    padding: 20px;
    font-family: 'GFS Didot', serif;
}

.promotions-card {
    margin-top: 50px;
    width: 100%;
    background-color: #fcf8f0;
    padding-bottom: 50px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card {
    display: block;
    flex-wrap: wrap;
    margin-top: 100px;
    border-radius: 10px;
    max-width: 400px;
    min-width: 300px;
    height: 400px;
    background-color: white;
    text-align: center;
}

.card-image {
    margin: 0 auto;
    display: block;
    position: relative;
    top: -80px;
    border: 5px solid white;
    border-radius: 100px;
}

h4 {
    margin-top: -60px;
    font-family: "Montserrat", sans-serif; 
    text-align: center;
    font-size: 30px;
}

.pet-promotions-text {
    padding: 20px 30px 30px 30px;
    font-size: 20px;
}

.card-body-contact {
    text-align: center;
    font-size: 18px;
    color: #B6A593;
}

.card1, .card2, .card3 {
    margin-top: 100px;
    transition: margin-top 0.3s ease;
}

.card1:hover, .card2:hover, .card3:hover {
    margin-top: 80px;
}

.contact-us {
    font-size: 30px;
    padding: 200px;
    font-family: 'GFS Didot', serif;
}

footer {
    background-color: #274374;
    font-family: "Montserrat", sans-serif; 
    font-size: 20px;
    padding: 60px;
    text-align: center;
    color:  #fcf8f0;
}

.small {
    font-size: 12px;
}

.linkedIn {
    color: white;
}

.linkedIn:hover {
    color: rgb(179, 179, 179)
}

.hidden {
    display: none;
}

.offerings-list {
    width: 95%;
    margin: 45px auto;
    background-color: white;
}

.offering-heading {
    width: 90%;
    background-color: #667690;
    margin: 0 auto;
}

ul {
    list-style: none;
    color: black;
    padding: 10px;
}

.pet-age-info {
    margin-top: 50px;
    font-size: 20px;
    line-height: 0px;
}

.pet-age {
    margin-top: 13px;
    font-size: 60px;
    font-weight: bold;
}

.years-old {
    font-size: 20px;
}

@media only screen and (max-width: 1200px) {
    .quote {
        width: 80%;
    }

    .contact-us {
        padding: 50px;
    }
}